body {
    font-family: raleway;
}

.nav-ul li a:visited {
    color: rgb(231, 230, 230)
}

.nav-ul li a:link {
    color: rgb(231, 230, 230)
}

.nav-ul li a:hover {
    color: rgb(253, 4, 4);
    font-weight: 500;
}

.nav-ul li a{
    text-decoration: none
}

.nav-ul {
    display: flex;
    justify-content: space-evenly;
    color: rgb(231, 230, 230);
    font-size: 3vh;
    font-family: raleway;
    background-color: rgba(0, 0, 0, 0.651) ;
    padding: 2vh;
    list-style-type: none;
    font-weight: 500;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
    flex-wrap: wrap;
}


@media screen and (max-width: 938px){
    .nav-ul{
        justify-content: space-around;
    }
}

 .nav-ul li:hover {
     cursor: pointer;
     color: rgb(231, 230, 230);
 }
 
.foto-arriba {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(foto-arriba2.jpg);
}

.logo {
    background-color: rgba(0, 0, 0, 0.685);
    border: solid 3px red;
    position: absolute;
    width: 500px;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin: auto;

}


/* NUESTRO RESTAURANT */

.elotro {
    display: flex;
    color: white;
    flex-wrap: wrap;
    margin: 100px 3vw 100px;
}


.elotro-img-div{
    width: 40vw;
    margin-right: 50px;
}

.elotro-2 h2 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 34px;
    margin-right: 60px;
    
    color: #333;
    text-transform: uppercase;
    border-bottom: red solid 2px;
    
}
@media screen and (min-width: 1020px){
    .elotro-2 h2 {
        margin-bottom: 20px;
    }
    .elotro {
        justify-content: center;
        margin: 100px 3vw 100px;

    }
    .elotro-img-div {
        margin-right: 50px;
    }
    
}

@media screen and (max-width: 938px){
    
    .elotro-img-div {
        width: 60vw;
        margin: 0px auto 50px;
    }
    .elotro-2 {
        margin: 0 auto;
        text-align: center;
    }
    .elotro-2 h2 {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 508px) {

    .elotro {
        margin: 100px 0px 100px;

    }

    .elotro-img-div {
        width: 100vw;
        margin: 0px 0px 50px;
    }

    .elotro-2 {
        margin: 0 5vw;
       
    }
}

.elotro-img {
    object-fit: contain;
}
.elotro-2 {
    width: 454px;
}



.elotro-2 p {
    color: rgb(153, 152, 152);
    font-size: 20px;
}

/* MENU */

.menu {
    color: rgb(201, 201, 201);
    font-size: 20px;
    margin-bottom: 100px;
    background-image: url(foto-menu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.589);
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width: 1008px) {
    .menu{
        margin-top: 0;
    }
}

.menu h2 {
    font-weight: 500;
    font-size: 34px;
    margin-left: 30px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    color: rgb(253, 251, 251);
    text-transform: uppercase;
    border-bottom: red solid 2px;
}

.menu p {
    margin: 0 40px;
}

@media screen and (max-width: 938px){
    .menu {
        text-align: center;
    }
    .menu h2{
        margin-left: 0;
    }
}
/* --------------------------- */

.menu2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr) );
}

@media screen and (min-width: 1020px){
    .menu2 {
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr) );

    }
}


.menu2-2 {
    margin: 30px;
    text-align: center;
}

@media screen and (max-width: 776px) {
    .menu2-2 {
        margin: 30px 20px 30px;
    }
}

.menu2-2 h3 {
    font-size: 26px;
    font-weight: 500;
    border-bottom: red solid 2px;
    display: inline-block;
    margin-bottom: 30px;
}

.menu2-2 div {
    margin-bottom: 30px;
}
.menu2-2 div h4 {
    font-size: 17px;
    text-align: start;
    color: rgb(102, 101, 101);
}

@media screen and (max-width: 776px) {
    .menu2-2 div h4  {
        text-align: center;
    }
}

.menu2-2 div p {
    text-align: start;
    font-style: italic;
    font-size: 15px;
    color: rgb(153, 152, 152);
}

@media screen and (max-width: 776px) {
    .menu2-2 div p  {
        text-align: center;
    }
}

.pedo {
    display: flex;
    justify-content: space-between;
    border-bottom: rgb(153, 152, 152) 2px dotted;
    margin-bottom: 0 !important;
}

/* GALERÃA */

.galeria {
    text-align: center;
    color: rgb(201, 201, 201);
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 60px;
    background-image: url(galeria.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.589);
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.galeria h2 {
    font-weight: 500;
    font-size: 34px;
    margin-left: 30px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    color: rgb(253, 251, 251);
    text-transform: uppercase;
    border-bottom: red solid 2px;
}

.galeria p {
    margin: 0 40px;
}

@media screen and (max-width: 938px){
    .galeria h2 {
        margin-left: 0;
    }
}

/* ----------------------------------------------- */



section {
    margin: 30px 20px;
    margin-bottom: 80px;
}

section ul {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

section ul li {
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    color: rgb(136, 136, 136);
    background: #eee;
    padding: 12px 24px;
    margin: 5px 10px;
    margin-bottom: 45px;
    letter-spacing: 1px;
    cursor: pointer;
}

section ul li.active {
    background: red;
    color: #fff;
}

/* ---------------------------------------- */

.producto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.producto .item {
    color: white;
    position: relative;
    width: 300px;
    height: 200px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.producto .item:hover {
  
    cursor: pointer;
}

.item:hover > img {
    filter: brightness(.5);
    transition: all .5s;
}

.producto .item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.producto .item:hover p {
    position: absolute;
    font-size: 20px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    transition: all .5s;
    filter: brightness(10);
    z-index: 1;
    
}

/* ------------------------------------- */


/* CONTACTO */

.contacto {
    text-align: center;
    color: rgb(253, 253, 253);
    font-weight: 500;
    font-size: 34px;
    margin-top: 0;
    height: 200px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

@media screen and (max-width: 626px) {
    .contacto {
        font-size: 25px;
    }
}

/* ----------------------------------------------------- */

.contacto2 {
    display: grid;
    background-color: black;
    color: rgb(214, 214, 214);
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr) );
    padding-top: 15px;
}

@media screen and (max-width: 752px) {
    .contacto2 div {
        margin: 10px 5px 0;
    }
    .contacto2 {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.contacto2 div h3 {
    margin-bottom: 15px;
}

.contacto2 div p {
    margin-bottom: 10px;
}

.contacto2 div ul {
    list-style-type: none;
}

.contacto2 div ul li {
    margin-bottom: 10px;
}

@media screen and (min-width: 1020px) {
    .contacto2 div:first-child {
        justify-self: end;
    }

    .contacto2 div:last-child {
        justify-self: start;
    }
}


/* --------------------------------------------- */

.contacto3 {
    background-color: black;
    color: rgb(214, 214, 214);
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 15px;
    font-size: small;
    font-weight: lighter;
}

#facebook a:visited  {
    color: rgb(214, 214, 214);
}

#facebook a:link  {
    color: rgb(214, 214, 214);
}

#instagram a:visited  {
    color: rgb(214, 214, 214);
}

#instagram a:link  {
    color: rgb(214, 214, 214);
}



#nesotecno {
    font-family: coalition;
    text-decoration: none;
    color: black;
    border: solid 2px rgb(71, 3, 71);
    border-radius: 99%;
    padding: 5px;
    background-color:rgba(253, 253, 253, 0.815);


}


#nesotecno:link {
    font-family: coalition;
    text-decoration: none;
    color: black;
    border: solid 2px rgb(71, 3, 71);
    border-radius: 99%;
    padding: 5px;
    background-color:rgba(253, 253, 253, 0.815);
    
    
}

#nesotecno:visited {
    font-family: coalition;
    text-decoration: none;
    color: black;
    border: solid 2px rgb(71, 3, 71);
    border-radius: 99%;
    padding: 5px;
    background-color:rgba(253, 253, 253, 0.815);
    
}